* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background:#080808;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.topLine{
  color: #fff;
  padding: 1rem;
}
.container{
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.projectBox{
  height: 300px;
  width: 300px;
  background: linear-gradient(10deg, #ff004f, #c6da1f);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 0.5rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.projectBtn {

  border: none;
  background-color: #adc00e;
  border-radius: 5px;
  font-size: 15px;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.projectBtn a{
  text-decoration: none;
  color: #080808;
}
.projectBtn:hover {
  background-color: #55ac65;
}